<div class="panel">
    <h3>Operation Details</h3>

    <div class="row">
        <label>Operation</label>
        <span>{{operation}}</span>
    </div>

    <div class="row">
        <label>Explanation</label>
        <span>{{explanation}}</span>
    </div>

    <div class="row">
        <label>Time</label>
        <span>{{timeComplexity}}</span>
    </div>

    <div class="row">
        <label>Space</label>
        <span>{{spaceComplexity}}</span>
    </div>

    <div class="row">
        <label>Status</label>
        <span>{{status}}</span>
    </div>
</div>