:root{

  --av-primary:#2563eb;
  --av-success:#059669;
  --av-danger:#dc2626;
  --av-purple:#7c3aed;

  --av-bg:#101827;
  --av-panel:#111827;

  --av-border:#253047;

  --av-text:#ffffff;
  --av-text-secondary:#8ea4c7;

  --av-radius:14px;

}