.sidebar {
  height: 100%;
    display: flex;
    flex-direction: column;
    overflow-y: auto;
    overflow-x: hidden;
    padding-right: 4px;
}

.title {

    font-size: 34px;

    font-weight: 700;

    margin-bottom: 32px;

    color: white;

    letter-spacing: -.5px;

}

.section-title {

    color: var(--text2);

    font-size: 12px;

    font-weight: 700;

    letter-spacing: 1.5px;

    text-transform: uppercase;

    margin: 28px 0 14px;

}

mat-divider{

    display:none;

}

.mat-mdc-nav-list{

    padding:0;

}

.mat-mdc-list-item{

    border-radius:14px !important;

    margin-bottom:8px;

    transition:.25s;

    height:52px !important;

}

.mat-mdc-list-item:hover{

    background:rgba(59,130,246,.15);

}

.active-link{

    background:linear-gradient(
        135deg,
        #2563eb,
        #7c3aed
    );

    color:white !important;

    box-shadow:0 10px 20px rgba(37,99,235,.35);

}

.active-link mat-icon{

    color:white;

}

mat-icon{

    color:#9fb3d9;

}

.spacer{

    flex:1;

}

.footer-card{

    margin-top:auto;

    background:linear-gradient(
        180deg,
        #182746,
        #131d31
    );

    border:1px solid var(--border);

    border-radius:18px;

    padding:20px;

    text-align:center;

}

.footer-card .title{

    margin:0;

    font-size:20px;

    color:#8b5cf6;

}

.footer-card p{

    margin-top:8px;

    color:var(--text2);

    font-size:14px;

}

.sidebar-panel {

  margin: 8px 0;

  border-radius: 18px !important;

  background: transparent !important;

  box-shadow: none !important;

  color: white;

}

.sidebar-panel .mat-expansion-panel-header {

  height: 56px;

  padding: 0 16px;

  border-radius: 18px;

}

.sidebar-panel .mat-expansion-panel-header:hover {

  background: rgba(255,255,255,.06);

}

.panel-title {

  margin-left: 16px;

  font-size: 16px;

  font-weight: 500;

}

.sidebar-panel mat-nav-list {

  padding-top: 0;

}

.sidebar-panel .mat-mdc-list-item {

  margin: 6px 12px;

  border-radius: 14px;

}

.sidebar-panel .mat-mdc-list-item:hover {

  background: rgba(255,255,255,.08);

}

.sidebar-panel .active-link {

  background: linear-gradient(
      90deg,
      #2563eb,
      #7c3aed
  );

  color: white !important;

}

.sidebar-panel .active-link mat-icon {

  color: white;

}