<div class="sidebar" [class.collapsed]="collapsed()">
    <div class="sidebar-header">

        @if (!collapsed()) {

        <div class="brand">
            <mat-icon>account_tree</mat-icon>
            <span>AlgoVista</span>
        </div>

        }

        <button mat-icon-button class="collapse-button" (click)="toggle.emit()">

            <mat-icon>
                {{ collapsed() ? 'chevron_right' : 'chevron_left' }}
            </mat-icon>

        </button>

    </div>

    <mat-divider></mat-divider>

    <nav class="navigation">
        @for(item of navigation; track item.label) {
        @if(item.section) {
        <div class="section-title" [class.hidden]="collapsed()">{{ item.label }}</div>
        } @else if(hasChildren(item)) {
        <div class="nav-item" (click)="toggleItem(item)" [matTooltip]="collapsed() ? item.label : ''"
            matTooltipPosition="right">
            <div class="nav-left">
                <mat-icon>{{ item.icon }}</mat-icon>
                <span class="label" [class.hidden]="collapsed()">{{ item.label }}</span>
            </div>
            <mat-icon class="expand-icon" [class.hidden]="collapsed()">
                {{ isExpanded(item) ? 'expand_less' : 'expand_more' }}
            </mat-icon>
        </div>

        @if(isExpanded(item)) {
        <div class="children" [class.hidden]="collapsed()">
            @for(child of item.children; track child.label) {
            <a class="child-item" [routerLink]="child.route" routerLinkActive="active-link">
                {{ child.label }}
            </a>
            }
        </div>
        }
        } @else {
        <a class="nav-item" [routerLink]="item.route" routerLinkActive="active-link"
            [matTooltip]="collapsed() ? item.label : ''" matTooltipPosition="right">
            <div class="nav-left">
                <mat-icon>{{ item.icon }}</mat-icon>
                <span class="label" [class.hidden]="collapsed()">{{ item.label }}</span>
            </div>
        </a>
        }
        }
    </nav>
</div>