@use '@angular/material' as mat;

html {
  @include mat.theme((
    color: (
      primary: mat.$blue-palette,
      tertiary: mat.$violet-palette
    ),
    typography: Roboto,
    density: 0,
  ));

  color-scheme: dark;
}

*{
    margin:0;
    padding:0;
    box-sizing:border-box;
}

html,
body{

    height:100%;

}

body{

    font-family:Inter,Roboto,sans-serif;

    background:#09111f;

    color:#fff;

    overflow:hidden;

}

:root{

    --bg:#09111f;

    --surface:#111c31;

    --surface2:#19243c;

    --primary:#3b82f6;

    --secondary:#8b5cf6;

    --success:#10b981;

    --danger:#ef4444;

    --warning:#f59e0b;

    --text:#ffffff;

    --text2:#9aa6bf;

    --border:#273550;

    --radius:18px;

}

mat-sidenav{

    background:var(--surface);

    border-right:1px solid var(--border);

}

mat-sidenav-content{

    background:var(--bg);

}

button{

    border-radius:12px !important;

}

.mat-mdc-raised-button{

    min-height:48px;

    font-weight:600;

}

.page{

    padding:24px;

}