<mat-toolbar color="primary" class="navbar">

    <div class="logo-section">

        <button mat-icon-button>

            <mat-icon>menu</mat-icon>

        </button>

        <span class="logo">

            AlgoVista

        </span>

    </div>

    <span class="spacer"></span>

    <button mat-icon-button>

        <mat-icon>search</mat-icon>

    </button>

    <button mat-icon-button>

        <mat-icon>code</mat-icon>

    </button>

    <button mat-icon-button>

        <mat-icon>dark_mode</mat-icon>

    </button>

</mat-toolbar>