@if (!mobile()) {

<div class="desktop-layout" [class.sidebar-collapsed]="sidebarCollapsed()">

  <aside class="desktop-sidebar">

    <app-sidebar [collapsed]="sidebarCollapsed()" (toggle)="toggleDesktopSidebar()">
    </app-sidebar>

  </aside>

  <section class="desktop-content">

    <main class="page-content">

      <router-outlet></router-outlet>

    </main>

    <app-footer></app-footer>

  </section>

</div>

} @else {

<mat-sidenav-container class="mobile-container">

  <mat-sidenav #drawer mode="over" [opened]="drawerOpened()" (closed)="closeDrawer()">

    <app-sidebar></app-sidebar>

  </mat-sidenav>

  <mat-sidenav-content>

    <mat-toolbar>

      <button mat-icon-button (click)="drawer.toggle()">

        <mat-icon>menu</mat-icon>

      </button>

      <span class="mobile-title">

        AlgoVista

      </span>

    </mat-toolbar>

    <main class="page-content">

      <router-outlet></router-outlet>

    </main>

    <app-footer></app-footer>

  </mat-sidenav-content>

</mat-sidenav-container>

}